services:
  backend:
    volumes:
      - ./backend:/app
    # Override CMD to enable hot-reloading for development
    command: sh -c "pip install -r requirements.txt && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    env_file:
      - ./backend/.env

  frontend:
    build:
      target: dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - WATCHPACK_POLLING=true
    # command: sh -c "npm install && npm run dev"
    env_file:
      - ./frontend/.env.local

  ngrok:
    image: ngrok/ngrok:latest
    container_name: 1on1-ngrok
    command: http backend:8000
    ports:
      - "4040:4040"
    env_file:
      - ./backend/.env
    depends_on:
      - backend
